* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font: 14px 'Arial';
}

header {
	display: block;
	padding: 20px 10px;
}
.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

nav#menu-principal {
	display: block;
	width: 100%;
	background-color: #ccc;
}

nav#menu-principal ul li {
	display: inline-block;
}

nav#menu-principal ul li a {
	display: block;
	padding: 10px;
	color: #000;
	text-decoration: none;
}

nav#menu-principal ul li a:hover {
	background-color: #aaa;
}

.destaque {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
}

.destaque h2 {
	margin-bottom: 5px;
}

.destaque img {
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0 10px 10px 0;
}

footer {
	padding: 10px;
	display: block;
	background-color: #000;
	text-align: center;
	color: #fff;
}

.clearfix {
	clear: both;
}

.logo {
	text-align: center;
}

.logo a { 
	font: italic 30px 'Arial';
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000;
}

.logo img {
	max-width: 100%;
}

.conteudo-interno {
	padding-top: 20px;
	min-height: 500px;
}

.conteudo-interno h1 {
	font-size: 30px;
}

.conteudo-interno .centro {
	display: block;
	width: 100%;
	max-width: 70%;
	float: left;
	padding: 0 20px;
}

.conteudo-interno .lateral {
	width: 30%;
	float: right;
}

.conteudo-interno .lateral .destaque {
	clear: both;
	margin-bottom: 20px;
}