
	body { background-color: #80ff00; color: #000000;}
	header { background-color: #f5f5f5;}
	.logo a { color: #ff0000;}
	h1,h2,h3,h4,h5,h6 { color: #0000ff;}
	a { color: #ff0000;}
	a:hover { color: #ff8000;}
	#menu-principal { background-color: #c0c0c0;}
	#menu-principal a { color: #400000;}
	#menu-principal a:hover { color: #ffffff; background-color: #808080;}
	footer { background-color: #000000; color: #ffffff; }
	