* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font: 14px 'Arial';
}

header, .container {
	display: block;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f5f5f5;
	padding: 10px;
}

.text-center {
	text-align: center;
}

.item-foto {
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

.item-foto:hover {
	background-color: #FCFFCE;
	border-color: #000;
}

.item-foto .image {
	display: block;
	width: 100%;
	height: 140px;
	overflow: hidden;
	margin-bottom: 5px;
}

.item-foto img {
	border: 1px solid #ccc;
}

.img-responsive {
	width: 100%;
}

.formulario-upload label, .formulario-upload input, .formulario-upload button {
	display: inline-block;
	margin-left: 10px;
}

.formulario-upload label {
	font-weight: bold;
}