* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	color: #333;
	font: 14px 'Arial';
	background-color: #fafafa;
	padding-top: 45px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.principal {
	display: block;
	clear: both;
}

.clearfix {
	clear: both;
}

header {
	color: #fff;
	background-color: #000;
	padding: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
}

header .logo a {
	color: #fff;
	font: italic 20px 'Arial';
	text-decoration: none;
}

.info-logado {
	text-align: right;
}

.info-logado a {
	color: #fff;
	margin: 0 0 0 15px;
	display: inline-block;
	padding: 5px 10px;
	background-color: #f22;
	text-decoration: none;
	border-radius: 3px;
}

.info-logado a:hover {
	background-color: #f44;
}

.formulario-login {
	width: 400px;
	margin: 100px auto 0 auto;
}

.formulario-login fieldset {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	text-align: center;
}

.formulario-login fieldset legend {
	padding: 10px;
	background-color: #000;
	font: italic bold 16px 'Arial';
	color: #fff;
	width: 100%;
	margin-bottom: 10px;
}

.formulario-login input, .formulario-login button {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #ccc;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.formulario-login input:focus {
	border-color: #666;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.formulario-login button {
	cursor: pointer;
	color: #fff;
	background-color: #57AF57;
	border: none;
}

.principal .menu {
	padding: 0px;
}

.principal .menu ul li {
	display: block;
}

.principal .menu ul li a {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #ccc;
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

.principal .menu ul li a:hover {
	color: #000;
	background-color: #f5f5f5;
}

.principal .col-8 {
	padding: 25px;
	background-color: #fff;
	min-height: 555px;
	border-left: 1px solid #ccc;
}

.principal .col-8 h1 {
	margin-bottom: 15px;
}

.tabela {
	width: 100%;
	border: 3px solid #ccc;
	background-color: #ccc;
	border-radius: 3px;
}

.tabela td, .tabela th {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.tabela th {
	color: #fff;
	background-color: #d10;
	text-shadow: 1px 1px 1px #000;
}

.tabela tr:hover td {
	background-color: #F6FFC9;
}

.text-center {
	text-align: center;
}

.opcoes-modulo {
	display: block;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	padding: 6px 10px;
	border-radius: 3px;
	margin: 0 5px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

.btn.btn-visualizar, .btn.btn-inserir, .btn.btn-enviar {
	color: #fff;
	background-color: green;
}
.btn.btn-visualizar:hover, .btn.btn-inserir:hover, .btn.btn-enviar:hover {
	background-color: #060;
}

.btn.btn-editar {
	color: #fff;
	background-color: #dd0;
}
.btn.btn-editar:hover {
	background-color: #bd0;
}

.btn.btn-excluir {
	color: #fff;
	background-color: #f00;
}
.btn.btn-excluir:hover {
	background-color: #d00;
}
.formulario {
	display: block;
}
.formulario fieldset {
	padding: 20px;
	border: 1px solid #ccc;
}
.item-form {
	display: block;
	margin-bottom: 10px;
}
.formulario label {
	font-weight: bold;
	font-style: italic;
}
.formulario label, .formulario input, .formulario textarea, .formulario select {
	display: block;
	margin-bottom: 5px;
}
.formulario input, .formulario textarea, .formulario select {
	padding: 10px;
	width: 450px;
	border: 1px solid #ccc;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.formulario input:focus, .formulario textarea:focus, .formulario select:focus {
	border-color: #666;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.formulario textarea.editor {
	width: 100%;
	height: 300px;
}

.formulario.formulario-cores .item-form {
	display: inline-block;
	text-align: center;
	padding: 20px;
	width: 200px;
	border: 1px solid #ccc;
	margin: 10px;
}

.formulario.formulario-cores input[type="color"] {
	width: 50px;
	height: 50px;
	padding: 0px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	border: 1px solid #ccc;
}
.btn.btn-big {
	font-size: 20px;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
}
.alert {
	display: block;
	padding: 10px;
	margin: 10px 0;
}
.alert.alert-sucesso {
	background-color: #9f5;
	color: green;
}
.alert.alert-erro {
	background-color: #FF4444;
	color: #fff;
}